<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai_study_rest_hub_server.mapper.AnswerRecordMapper">

    <resultMap id="BaseResultMap" type="com.ai_study_rest_hub_server.entity.AnswerRecord">
            <id property="id" column="id" />
            <result property="examRecordId" column="exam_record_id" />
            <result property="questionId" column="question_id" />
            <result property="userAnswer" column="user_answer" />
            <result property="score" column="score" />
            <result property="isCorrect" column="is_correct" />
            <result property="aiCorrection" column="ai_correction" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,exam_record_id,question_id,user_answer,score,is_correct,
        ai_correction,create_time,update_time,is_deleted
    </sql>
</mapper>
