<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai_study_rest_hub_server.mapper.ExamRecordMapper">

    <resultMap id="BaseResultMap" type="com.ai_study_rest_hub_server.entity.ExamRecord">
            <id property="id" column="id" />
            <result property="examId" column="exam_id" />
            <result property="userName" column="user_name" />
            <result property="score" column="score" />
            <result property="answers" column="answers" />
            <result property="startTime" column="start_time" />
            <result property="endTime" column="end_time" />
            <result property="status" column="status" />
            <result property="windowSwitches" column="window_switches" />
    </resultMap>

    <sql id="Base_Column_List">
        id,exam_id,user_name,score,answers,start_time,
        end_time,status,window_switches,create_time,update_time,
        is_deleted
    </sql>

    <select id="queryRanking" resultType="com.ai_study_rest_hub_server.vo.ExamRankingVO">
        select
        er.*,
        pr.`name` paper_name ,
        pr. total_score paper_total_score,
        TIMESTAMPDIFF(MINUTE, er.start_time, er.end_time) duration
        from exam_records er left join paper pr
        on er.exam_id = pr.id
        where er.is_deleted = 0 and pr.is_deleted = 0
        and er.`status` = '已批阅'
        <if test="paperId != null">
            and pr.id=#{paperId}
        </if>
        order by er.score desc , duration asc
        <if test="limit != null">
            limit #{limit};
        </if>
    </select>
</mapper>
