<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai_study_rest_hub_server.mapper.NoticeMapper">

    <resultMap id="BaseResultMap" type="com.ai_study_rest_hub_server.entity.Notice">
            <id property="id" column="id" />
            <result property="title" column="title" />
            <result property="content" column="content" />
            <result property="type" column="type" />
            <result property="priority" column="priority" />
            <result property="isActive" column="is_active" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,type,priority,is_active,
        create_time,update_time,is_deleted
    </sql>
</mapper>
