<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai_study_rest_hub_server.mapper.VideoViewMapper">

    <resultMap id="BaseResultMap" type="com.ai_study_rest_hub_server.entity.VideoView">
            <id property="id" column="id" />
            <result property="videoId" column="video_id" />
            <result property="userIp" column="user_ip" />
            <result property="userAgent" column="user_agent" />
            <result property="viewDuration" column="view_duration" />
            <result property="createdAt" column="created_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,video_id,user_ip,user_agent,view_duration,created_at
    </sql>
</mapper>
